body {
    font-family: sans-serif;
    margin: 2rem;
    background-color: #1C2842;
    color: #F3F5F9;
}

h1 {
    color: #E5E8ED;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    display: block;
    overflow: auto;
    height: 500px;
    border-collapse: collapse;

    border-top: 1px solid #5B6987;
    border-bottom: 1px solid #5B6987;
    border-spacing: 0px;
}

th {
    text-align: left;
    background-color: #5B6987;
    font-weight: 700;
    height: 1.5rem;
    width: 100%;
}


tr {
    height: 2.5rem;
}


td, th {
    width: 100vw;
}

tbody td {
    border-top: 1px solid #5B6987;
    border-bottom: 1px solid #5B6987;
    color: #E5E8ED;
}

.pager-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
}

.page-button {
    flex-basis: 2rem;
    border-radius: 2rem;
    text-align: center;
}

.page-button:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(75, 139, 212);
}

.page-button-disabled {
    flex-basis: 1rem;
    text-align: center;
    pointer-events: none; 
    cursor: default; 
    opacity: 30%;
}
